.EmojiDrawer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.EmojiDrawer .controls {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  display: flex;
  padding: 5px 1em;
  background-color: #222;
}

.EmojiDrawer label {
  display: flex;
  height: 30px;
  line-height: 30px;
}

.EmojiDrawer label span {
  display: none;
}

.EmojiDrawer label.emoji {
  margin: 0 1em;
  flex-grow: 1;
}

.EmojiDrawer label,
.EmojiDrawer select {
  color: white;
  font-size: 1rem;
  background-color: #222;
}

.EmojiDrawer canvas {
  flex-grow: 1;
}

.EmojiDrawer .video-container {
  position: relative;
}

.EmojiDrawer .video-container .loading {
  position: absolute;
  z-index: -1;
  top: 100px;
  left: 0;
  right: 0;
}
